<?xml version="1.0" encoding="utf-8"?>
<SysConfig>

  <ResourcesUrl>http://res.8.com/v1.0/</ResourcesUrl>
  
  <PageSize>5</PageSize>
  
  <TableNamePrefix>TL</TableNamePrefix>
  <CoreConnectionString>Server=(local);User ID=sa;Password=sa;Database=TL</CoreConnectionString>

  <CityList>
    <City Name="上海" EName="shanghai"  Code="021"  Domain="shanghai.8.com" PicturesUrl="http://pics.shanghai.8.com/" UploadServicesUrl="http://upload.shanghai.8.com/upload.asmx" UploadServicesNamespace="TL.Web.UploadServices" UploadServicesPassword="TsoLong" ConnectionString="Server=(local);User ID=sa;Password=sa;Database=TL_Shanghai"></City>
    <City Name="成都" EName="chengdu"  Code="028" Domain="chengdu.8.com" PicturesUrl="http://pics.chengdu.8.com/" UploadServicesUrl="http://upload.chengdu.8.com/upload.asmx" UploadServicesNamespace="TL.Web.UploadServices" UploadServicesPassword="TsoLong" ConnectionString="Server=(local);User ID=sa;Password=sa;Database=TL_Chengdu"></City>
  </CityList>

  <!--最多店铺照片张数-->
  <TotalPhoto>10</TotalPhoto>
  <!--批量上传张数-->
  <UploadShopPhotoBatchSize>5</UploadShopPhotoBatchSize>
  <!--单张店铺照片最小容量 6144字节即6kb-->
  <UploadShopPhotoMinSize>6144</UploadShopPhotoMinSize>
  <!--单张店铺照片最大容量 614400字节即600kb-->
  <UploadShopPhotoMaxSize>614400</UploadShopPhotoMaxSize>
  <!--上传格式限制-->
  <UploadShopPhotoExt>.gif,.jpeg,.jpg,.png</UploadShopPhotoExt>

</SysConfig>