<?xml version="1.0" encoding="utf-8"?>
<SysConfig>

  <ResourcesUrl>http://res.8.com/v1.0/</ResourcesUrl>

  <PageSize>5</PageSize>

  <TableNamePrefix>TL</TableNamePrefix>
  <CoreConnectionString>Server=(local);User ID=sa;Password=sa;Database=TL</CoreConnectionString>

  <CityList>
    <City Name="上海" EName="shanghai"  Code="021"  Domain="shanghai.8.com" PicturesUrl="http://pics.shanghai.8.com/" UploadServicesUrl="http://upload.shanghai.8.com/upload.asmx" UploadServicesNamespace="TL.Web.UploadServices" UploadServicesPassword="TsoLong" ConnectionString="Server=(local);User ID=sa;Password=sa;Database=TL_Shanghai"></City>
    <City Name="成都" EName="chengdu"  Code="028" Domain="chengdu.8.com" PicturesUrl="http://pics.chengdu.8.com/" UploadServicesUrl="http://upload.chengdu.8.com/upload.asmx" UploadServicesNamespace="TL.Web.UploadServices" UploadServicesPassword="TsoLong" ConnectionString="Server=(local);User ID=sa;Password=sa;Database=TL_Chengdu"></City>
  </CityList>

</SysConfig>